langchain==0.3.14
langchain-openai==0.2.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-chroma==0.1.4
openai==1.59.3
chromadb==0.5.23
gradio==4.44.1
python-dotenv
numpy
pandas
rouge-score
sentence-transformers
bert-score
scikit-learn
typing-extensions
pydantic