langchain
langchain-openai
langchain-community
langchain-core
langchain-chroma
openai
chromadb
gradio
python-dotenv
numpy
pandas
rouge-score
sentence-transformers
scikit-learn
typing-extensions
pydantic 